<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
    <title>DoGuide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
</head>
<body class="text-center">
<style>.alert {
    margin-top: 20%;
}</style>
<div class="alert alert-success" role="alert">
  We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
</div>
</body>
</html>