<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DoGid</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/offer_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="find">
            <div class="find_text">
                Начать поиск
            </div>
        </div>
    </div>
    <div class="main">
        <div class="offer" id="1">
            <div class="offer_img_box">
               <a href="offer.html"> <img src="img/2955487273205686_11a0.jpg" class="offer_img">
                </a>
            </div>
            <div class="offer_txt">
                <p class="location">
                    Россия, Казань 
                </p>
                <p class="explanation"> 
                    Экскурсия по центру Казани
                </p>
            </div>
            </div>
        <div class="offer" id="2">
            <div class="offer_img_box">
                <img src="img/900_900_fixed.jpg" class="offer_img">
            </div>
            <div class="offer_txt">
                <p class="location">
                    Россия, Казань 
                </p>
                <p class="explanation"> 
                    Экскурсия по вечерней Казани
                </p>
            </div>
        </div>
        <div class="offer" id = "3">
            <div class="offer_img_box">
                <img src="img/4165201.jpg" class="offer_img">
            </div>
            <div class="offer_txt">
                <p class="location">
                    Россия, Казань 
                </p>
                <p class="explanation">
                    Экскурсия по набережной
                </p>
            </div>
        </div>
        <div class="offer" id="4">
            <div class="offer_img_box">
                    <img src="img/3.-ulica-baumana.jpg" class="offer_img">
            </div>
            <div class="offer_txt">
                <p class="location">
                    Россия, Казань 
                </p>
                <p class="explanation"> 
                    Экскурсия по Баумана
                </p>
            </div>
        </div>
        <div class="offer" id="5">
            <div class="offer_img_box">
                    <img src="img/XXXL.jpg" 
                    class="offer_img">
            </div>
            <div class="offer_txt">
                <p class="location">
                    Россия, Казань 
                </p>
                <p class="explanation"> 
                    Экскурсия по Баумана
                </p>
            </div>
        </div>
        <div class="offer" id="6">
            <div class="offer_img_box">
                    <img src="img/XXXL.jpg" 
                    class="offer_img">
            </div>
            <div class="offer_txt">
                <p class="location">
                    Россия, Казань 
                </p>
                <p class="explanation"> 
                    Экскурсия по Баумана
                </p>
            </div>
        </div>
        <div class="offer" id="7">
            <div class="offer_img_box">
                    <img src="img/XXXL.jpg" 
                    class="offer_img">
            </div>
            <div class="offer_txt">
                <p class="location">
                    Россия, Казань 
                </p>
                <p class="explanation"> 
                    Экскурсия по Баумана
                </p>
            </div>
        </div>
        <script>
            function Next_gal(){
                alert("Пока не знаю, как сделать(");
            }
        </script>
        <div class="button">
            <img src="img/Group%203.png" onclick="Next_gal()">
        </div>
    </div>
</body>