<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DoGuide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'lk/login.css' %}">
</head>

<body class="text-center">
    <form class="form-signin" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <p><label for="id_username">Username:</label> <input class="form-control" type="text" name="username" maxlength="150" autofocus required id="id_username">
        <small id="id_username" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
    <p><label for="id_first_name">First name:</label> <input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name"></p>
    <p><label for="id_last_name">Last name:</label> <input class="form-control" type="text" name="last_name" maxlength="150" id="id_last_name"></p>
    <p><label for="id_email">Email address:</label> <input class="form-control" type="email" name="email" maxlength="254" id="id_email"></p>
    <p><label for="id_password1">Password:</label> <input class="form-control" type="password" name="password1" required id="id_password1">
        <small id="id_password1" class="form-text text-muted">Your password can&#39;t be too similar to your other personal information. <br>Your password must contain at least 8 characters.<br>Your password can&#39;t be a commonly used password.<br>Your password can&#39;t be entirely numeric.</small>
    <p><label for="id_password2">Password confirmation:</label> <input class="form-control"  type="password" name="password2" required id="id_password2">
        <small id="id_password2" class="form-text text-muted">Enter the same password as before, for verification.</small>
        {{ profile_form }}
        <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
</body>
</html>